# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=0af4e6f260c4d5b5e6529e327a785961
APP_DEFAULT_LOCALE=fr
###< symfony/framework-bundle ###

###> DB configs ###
DB_HOST={{database_host}}
DB_HOST_VERSION=mariadb-10.11.22
DB_PORT={{database_port}}
DB_USERNAME={{database_username}}
DB_PASSWORD={{database_password}}
DB_DATABASE={{database_name}}
DB_CHARSET=utf8mb4
###< DB configs ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml

DATABASE_URL="mysql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?serverVersion=${DB_HOST_VERSION}&charset=${DB_CHARSET}"

###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=
JWT_TOKEN_TTL=
###< lexik/jwt-authentication-bundle ###
XDEBUG_IDKEY=XDEBUG
XDEBUG_PORT=9003
XDEBUG_HOST=host.docker.internal
XDEBUG_TRIGGERVALUE=XDEBUG

PHP_PORT=9000

APP_NAME={{project_name}}
APP_PORT=8080
APP_DOMAIN=localhost
APP_PATH=/var/www/api
APP_TIMEZONE=UTC

UPLOADS_FOLDER_NAME=tmp

FRONT_PATH=/var/www/front
FRONT_PORT=3000
FRONT_DOMAIN=http://localhost
FRONT_RESET_PASSWORD_ROUTE=reset-password

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> symfony/mailer ###
MAILER_SENDER="API"
MAILER_FROM="noreply@api-adr.com"
MAIL_HOST={{project_name}}-mail
MAIL_PORT=1025
MAILER_USERNAME=user
MAILER_PASSWORD=pass
MAILER_API_KEY=
MAILER_DSN="smtp://{MAILER_USERNAME}:{MAILER_PASSWORD}@${MAIL_HOST}:${MAIL_PORT}"
###< symfony/mailer ###